Package: libmbfl-dev
Source: libmbfl
Version: 0.1-1
Architecture: i386
Maintainer: James Michael DuPont <mdupont@introspector-mail>
Installed-Size: 52
Depends: libmbfl (= 0.1-1)
Section: libdevel
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
